<div class="welcome-message">
  <h2>Bienvenidos</h2>
</div>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Correo electrónico</mat-label>
    <input matInput [(ngModel)]="email" email="email" required #emailInput="ngModel">
    <mat-error *ngIf="emailInput.invalid && emailInput.touched">
      Correo del usuario es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" [(ngModel)]="password" name="password" required #passwordInput="ngModel">
    <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">
      Contraseña es obligatoria
    </mat-error>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" class="submit-button">Iniciar Sesión</button>
    <button mat-button color="primary"  type="submit" class="submit-button" (click)="goToRegister()">Registrar</button>
  </div>

</form>
