<app-toolbar></app-toolbar>
<h1 class="section-name">My Account</h1>
<div *ngIf="user; else loading" class="profile-page">
  <div class="profile-content">
    <div class="profile-details">
      <div class="profile-item">
        <label>Name</label>
        <input type="text" [(ngModel)]="user.name" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>Username</label>
        <input type="text" [(ngModel)]="user.username" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>Phone</label>
        <input type="text" [(ngModel)]="user.phone" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>Email</label>
        <input type="email" [(ngModel)]="user.email" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>Password</label>
        <input type="password" [(ngModel)]="user.password" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>Plan</label>
        <input type="text" [(ngModel)]="user.userType" disabled />
      </div>
      <div class="profile-item">
        <label>Address</label>
        <input type="text" [(ngModel)]="user.address" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="profile-actions">
      <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
      <button mat-raised-button color="primary">Payment History</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading profile...</p>
</ng-template>
