<app-toolbar></app-toolbar>
<h1 class="section-name"> {{ 'myaccount.title' | translate }} </h1>
<div *ngIf="user; else loading" class="profile-page">
  <div class="profile-content">
    <div class="profile-details">
      <div class="profile-item">
        <label>{{ 'myaccount.name' | translate }}</label>
        <input type="text" [(ngModel)]="user.name" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>{{ 'myaccount.username' | translate }}</label>
        <input type="text" [(ngModel)]="user.username" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>{{ 'myaccount.phone' | translate }}</label>
        <input type="text" [(ngModel)]="user.phone" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>{{ 'myaccount.email' | translate }}</label>
        <input type="email" [(ngModel)]="user.email" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>{{ 'myaccount.password' | translate }}</label>
        <input type="password" [(ngModel)]="user.password" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div class="profile-item">
        <label>Plan</label>
        <input type="text" [(ngModel)]="user.userType" disabled />
      </div>
      <div class="profile-item">
        <label>{{ 'myaccount.address' | translate }}</label>
        <input type="text" [(ngModel)]="user.address" [disabled]="!isEditing" />
        <button mat-icon-button (click)="toggleEdit()">
          <mat-icon>{{ isEditing ? 'done' : 'edit' }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="profile-actions">
      <button mat-raised-button color="primary" (click)="saveChanges()">{{ 'myaccount.savebtn' | translate }}</button>
      <button mat-raised-button color="primary">{{ 'myaccount.paymentbtn' | translate }}</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading profile...</p>
</ng-template>
