<form class="registration-form" (ngSubmit)="onSubmit()">
  <app-language-switcher/>
  <div class="welcome-message">
    <h2>{{ 'signup.tittle' | translate }}</h2>
  </div>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>{{ 'signup.name' | translate }}</mat-label>
    <input matInput [(ngModel)]="name" name="name" required />
    <mat-error>{{ 'signup.name' | translate }} is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>{{ 'signup.username' | translate }}</mat-label>
    <input matInput [(ngModel)]="username" name="username" required />
    <mat-error>{{ 'signup.username' | translate }} is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>{{ 'signup.phone' | translate }}</mat-label>
    <input matInput [(ngModel)]="phone" name="phone" required />
    <mat-error>{{ 'signup.phone' | translate }} is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>{{ 'signup.email' | translate }}</mat-label>
    <input matInput [(ngModel)]="email" name="email" required />
    <mat-error>{{ 'signup.email' | translate }} is required.</mat-error>
  </mat-form-field>

  <div class="password">
    <mat-form-field appearance="fill" class="form-field password-field">
      <mat-label>{{ 'signup.password' | translate }}</mat-label>
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        class="password-btn"
        type="button"
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error>{{ 'signup.password' | translate }} is required.</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>{{ 'signup.address' | translate }}</mat-label>
    <input matInput [(ngModel)]="address" name="address" required />
    <mat-error>{{ 'signup.address' | translate }} is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>{{ 'signup.subtype' | translate }}</mat-label>
    <mat-select [(ngModel)]="userType" name="userType">
      <mat-option value="FREE">FREE</mat-option>
      <mat-option value="PRO">PRO</mat-option>
      <mat-option value="ENTERPRISE">ENTERPRISE</mat-option>
    </mat-select>
    <mat-error>{{ 'signup.subtype' | translate }} is required.</mat-error>
  </mat-form-field>

  <button class="enviar" type="submit" mat-raised-button color="primary">{{ 'signup.register' | translate }}</button>
  </form>
