<mat-toolbar class="toolbar">
  <a mat-button [routerLink]="'/'" class="nav-link">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </a>
  <a mat-button [routerLink]="'/services'" class="nav-link">
    <mat-icon>restaurant_menu</mat-icon>
    <span>Servicios</span>
  </a>
  <a mat-button [routerLink]="'/equipment'" class="nav-link">
    <mat-icon>build</mat-icon>
    <span>Equipos</span>
  </a>
  <a mat-button [routerLink]="'/payment'" class="nav-link">
    <mat-icon>event_note</mat-icon>
    <span>Payment</span>
  </a>
  <a mat-button [routerLink]="'/properties'" class="nav-link">
    <mat-icon>chat</mat-icon>
    <span>Properties</span>
  </a>

  <span class="spacer"></span>

  <a mat-icon-button [routerLink]="['/search']">
    <mat-icon>search</mat-icon>
  </a>

  <button mat-raised-button color="accent" [routerLink]="'/account'">Mi cuenta</button>

</mat-toolbar>

<router-outlet></router-outlet>

