.container {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 20px;
  margin: 40px;
}

.property-info-section {
  flex: 1;
}

.property-details-card {
  padding: 20px;
  border-radius: 10px;
}

.property-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.property-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.property-details {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.property-type {
  font-size: 24px;
  font-weight: bold;
  color: #3f51b5;
}

.form-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.edit-btn {
  margin-right: 20px;
}

.add-property-btn {
  width: 100%;
  background-color: #3f51b5;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}
